*, *::before, *::after{
    box-sizing: border-box;
}

:root{
    --container-background-color:  rgb(246, 249, 250);
}

body{
    font-family: "Roboto", serif;
    background-color: rgb(214, 223, 232);
    padding: 20px;
}

nav{
    display: flex;
    justify-content: space-between;
    border-bottom: .5px solid rgba(0, 0, 0, 0.245);
    background-color: var(--container-background-color);

    position: sticky;
    top: 10px;
    z-index: 4;
}

.container{
    background-color: var(--container-background-color); 
    height: 100vh;
    border-radius: 10px;
    padding: 0 25px;
}

nav > div:first-child{
    font-size: 1.5rem;
    font-style: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav > menu > ul{
    list-style-type: none;
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.main{
    margin: 25px 50px;
}

.hero-section {
    position: relative;
    height: 60vh;
    
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    
    z-index: 1;
    overflow: hidden;
}

.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(./pictures/hero-background.webp);
    background-size: cover;
    background-position: center;
    filter: brightness(70%); 

    border-radius: 15px; 
    z-index: -1; 
}

.hero-section > .heading-text {
    color: white;
    font-size: 5rem;
    z-index: 2; 
}


/* General CSS elements */
.primary-button{
    background-color: rgb(41, 115, 223);
    color: white;
    padding: 9px 15px;
    border-radius: 10px;
}

/* ------------------------------- */
